@page "/studentcourses/{studentId:int}"
@using TrainingCenterUI.DTO
@using TrainingCenterUI.Services
@inject StudentCoursesService StudentCoursesService
@inject NavigationManager NavigationManager

<PageTitle>Student Courses</PageTitle>
<div class="mt-2">
    <a class="btn btn-primary" role="button" href="@EnrollUrl(StudentId)">Enroll A New Course</a>
</div>
@if (studentCourses == null) 
{
    <p><em>Loading...</em></p>
}
else if (studentCourses.Count == 0)
{
    <p>No courses found for this student.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Course ID</th>
                <th>Student ID</th>
                <th>Registration Date</th>
                <th>Grade</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in studentCourses)
            {
                <tr>
                    <td>@course.CourseId</td>
                    <td>@course.StudentId</td>
                    <td>@course.RegistrationDate.ToShortDateString()</td>
                    <td>@course.Grade</td>
                    <td>@course.Status</td>
                    <td>
                        <button class="btn btn-danger" @onclick="() => DeleteStudentCourse(course.StudentId, course.CourseId)">Unenroll</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public int StudentId { get; set; }

    private List<StudentCourseDTO>? studentCourses = null;

    protected override async Task OnInitializedAsync()
    {
        studentCourses = await StudentCoursesService.GetStudentCoursesAsync(StudentId);
    }

    private async Task DeleteStudentCourse(int studentId, int courseId)
    {
        await StudentCoursesService.DeleteStudentCourseAsync(studentId, courseId);
        studentCourses = await StudentCoursesService.GetStudentCoursesAsync(studentId);
        StateHasChanged();
    }

    private static string EnrollUrl(int id) => $"/enroll/{id}";
}
